parameters:
	ignoreErrors:
		-
			message: "#^Access to an undefined property Flarum\\\\Database\\\\AbstractModel\\:\\:\\$discussion_id\\.$#"
			count: 2
			path: src/Api/Controller/ListNotificationsController.php

		-
			message: "#^Access to an undefined property class@anonymous/Console/Schedule\\.php\\:20\\:\\:\\$config\\.$#"
			count: 2
			path: src/Console/Schedule.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Connection\\:\\:getSchemaState\\(\\)\\.$#"
			count: 1
			path: src/Database/Console/GenerateDumpCommand.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\ConnectionInterface\\:\\:getSchemaBuilder\\(\\)\\.$#"
			count: 1
			path: src/Database/DatabaseMigrationRepository.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\ConnectionInterface\\:\\:getSchemaBuilder\\(\\)\\.$#"
			count: 3
			path: src/Database/Migrator.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\ConnectionInterface\\:\\:getTablePrefix\\(\\)\\.$#"
			count: 1
			path: src/Database/Migrator.php

		-
			message: "#^Access to an undefined property Flarum\\\\Database\\\\AbstractModel\\:\\:\\$id\\.$#"
			count: 1
			path: src/Discussion/IdWithTransliteratedSlugDriver.php

		-
			message: "#^Access to an undefined property Flarum\\\\Database\\\\AbstractModel\\:\\:\\$slug\\.$#"
			count: 2
			path: src/Discussion/IdWithTransliteratedSlugDriver.php

		-
			message: "#^Access to an undefined property object\\:\\:\\$attributes\\.$#"
			count: 1
			path: src/Forum/Content/Discussion.php

		-
			message: "#^Class Illluminate\\\\Container\\\\Container not found\\.$#"
			count: 2
			path: src/Foundation/Application.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\ConnectionInterface\\:\\:getPdo\\(\\)\\.$#"
			count: 1
			path: src/Foundation/Console/InfoCommand.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Contracts\\\\Filesystem\\\\Filesystem\\:\\:has\\(\\)\\.$#"
			count: 1
			path: src/Frontend/Compiler/JsCompiler.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Contracts\\\\Filesystem\\\\Filesystem\\:\\:url\\(\\)\\.$#"
			count: 1
			path: src/Frontend/Compiler/JsCompiler.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Contracts\\\\Filesystem\\\\Filesystem\\:\\:has\\(\\)\\.$#"
			count: 4
			path: src/Frontend/Compiler/RevisionCompiler.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Contracts\\\\Filesystem\\\\Filesystem\\:\\:read\\(\\)\\.$#"
			count: 2
			path: src/Frontend/Compiler/RevisionCompiler.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Contracts\\\\Filesystem\\\\Filesystem\\:\\:url\\(\\)\\.$#"
			count: 1
			path: src/Frontend/Compiler/RevisionCompiler.php

		-
			message: "#^Access to an undefined property Flarum\\\\Install\\\\Steps\\\\EnableBundledExtensions\\:\\:\\$migrator\\.$#"
			count: 2
			path: src/Install/Steps/EnableBundledExtensions.php

		-
			message: "#^Call to an undefined static method Flarum\\\\Notification\\\\MailableInterface\\:\\:getType\\(\\)\\.$#"
			count: 1
			path: src/Notification/Driver/EmailNotificationDriver.php

		-
			message: "#^Access to an undefined property Flarum\\\\Database\\\\AbstractModel\\:\\:\\$id\\.$#"
			count: 1
			path: src/Notification/Notification.php

		-
			message: "#^Method Flarum\\\\Update\\\\Controller\\\\IndexController\\:\\:render\\(\\) should return Psr\\\\Http\\\\Message\\\\ResponseInterface but returns Illuminate\\\\Contracts\\\\View\\\\View\\.$#"
			count: 1
			path: src/Update/Controller/IndexController.php

		-
			message: "#^Call to function is_null\\(\\) with string\\|void will always evaluate to false\\.$#"
			count: 1
			path: src/User/Access/AbstractPolicy.php

		-
			message: "#^Access to an undefined property Flarum\\\\Database\\\\AbstractModel\\:\\:\\$id\\.$#"
			count: 1
			path: src/User/IdSlugDriver.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Contracts\\\\Container\\\\Container\\:\\:makeWith\\(\\)\\.$#"
			count: 1
			path: src/User/UserServiceProvider.php

		-
			message: "#^Access to an undefined property Flarum\\\\Database\\\\AbstractModel\\:\\:\\$username\\.$#"
			count: 1
			path: src/User/UsernameSlugDriver.php

		-
			message: "#^Template type T of function resolve\\(\\) is not referenced in a parameter\\.$#"
			count: 1
			path: src/helpers.php

