includes:
  - phpstan-baseline.neon
  - vendor/flarum/phpstan/extension.neon

parameters:
	level: 4
	paths:
		- src
	excludePaths:
	  - *.blade.php
	  - src/Formatter/Formatter.php

	databaseMigrationsPath: ['migrations']
